/*#region globais seletores*/
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Light.otf');
}

/* unidades relativas */
html {
    font-size: 28px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-size: 14px;
    list-style: none;
    background-color: whitesmoke;
}

html,
body,
textarea {
    /* overflow-x: hidden; */
    font-family: 'Poppins';
}

h1 {
    font-size: 68px;
    cursor: pointer;
    color: black;
    text-align: center;
}

h4 {
    font-size: 2.8em;
}

/* btnDefault */
.btnDefault {
    background-color: black;
    font-size: 1.2em;
    padding: 1em 3em;
    color: white;
    margin: 1em auto;
    border: none;
    transition: .3s;
    cursor: pointer;
}

.btnDefault:hover {
    background-color: #D1942B;
    transition: .3s;
}


/*#endregion globais seletores*/

/* #region header*/
.btnMenu {
    font-size: 50px;
    padding: 10px;
    color: white;
    transition: .3s;
    display: none;
}

.btnMenu:hover i {
    transition: .3s;
}



.menu {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 1, .8);
    position: fixed;
    z-index: 100;
}

.menu .logo {
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 70px;
    margin: 0px 0 0 15px;
}

.logo span {
    margin-top: 25px;
    font-size: 1.5em;
    color: white;
}


/* navbar */
.navbar {
    height: 65px;
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    align-items: center;
}

ul.open {
    overflow: visible;
}

.navbar li {
    padding: 0 5px;
}

.navbar li a {
    height: 70px;
    line-height: 70px;
    padding: 20px 25px;
    color: white;
    text-transform: capitalize;
    font-size: 1.2em;
}

.navbar li i {
    padding: 20px 25px;
    color: white;
    font-size: 2em;
}

.navbar li i:hover {
    color: #D1942B;
    cursor: pointer;
}


.navbar li a:hover:not(.sub a:hover) {
    border-bottom: 2px solid #D1942B;
    color: #D1942B;
}



ul.sub {
    text-align: center;
    display: none;
    min-width: 189px;
    background-color: rgba(0, 0, 1, .5);
    padding: 0;
}

.sub li:hover {
    background-color: rgba(171, 184, 195, .5);
    transition: .3s;
}

ul.sub {
    position: absolute;
    display: none;
    min-width: 100px;
    background-color: rgba(0, 0, 0, .5);
    padding: 0;
    text-align: center;
}

ul.sub li {
    display: block;
    min-width: 150px;
}

ul.sub li a {
    text-align: center;
    width: 100%;
}

/* #endregion header*/

/*#region home */
.homeC {
    background-color: #0b0021;
    position: relative;
    width: 100%;
    height: 80%;
}

video {
    width: 100%;
    height: 100%;
    z-index: 98;
}

.homeI {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.homeI .caixaTexto {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 30px;
    text-align: left;
    width: 40%;
    max-width: 400px;
    padding: 45px;
}

.homeI h1 {
    font-size: 3em;
    color: white;
    text-align: left;
    padding-bottom: .8em;
}

.homeI h1 span {
    font-size: .9em;
}

.homeI h3 {
    font-size: 2em;
    color: white;
}

.homeI span {
    font-size: 2em;
    color: #D1942B;
}

.horario {
    border-left: 4px solid white;
}

/*#endregion home */

/*#region about */
#sobre-nos {
    width: 100%;
    background-color: #697F72;
}

.aboutC {
    padding-top: 7em;
    width: 100%;
    text-align: center;
    display: flex;
    margin: auto !important;
    padding-bottom: 7em;
}

.aboutI,
.aboutT {

    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.aboutT h1 {
    width: 100%;
    text-align: left;
    font-size: 3em;
    color: black;
    cursor: pointer;
}

.aboutT .title {

    padding-bottom: .5em;
    font-weight: 900;
}

.aboutT .history {

    font-size: 2em;
}

.aboutI {
    width: 100%;
    padding: 0 !important;
}

.aboutI img {
    width: 100%;
    cursor: pointer;
}



/*#endregion about */

/*#region services */
.servicesC {
    background: url('../img/background1.png');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    text-align: center;
    padding-bottom: 8em;
}

.servicesC img {
    cursor: pointer;
    filter: saturate(100%);
    transition: .5s;
    padding-left: 20px;
}

.servicesC img:hover {
    border-radius: 10%;
    filter: saturate(0%);
    transition: .2s;
}

.servicesC h1 {
    font-size: 3.5em;
    padding-top: 3em;
    padding-bottom: 2.5em;
    font-weight: 900;
    color: white;
}

.servicesB i {
    font-size: 1.5em;
    padding-right: 5px;
}


/*#endregion services */

/*#region gallery */

/* gallery */

#galeria {
    background-color: #697F72;
    width: 100%;
    padding-top: 4em;
}

#galeria h3 {
    font-size: 25px;
    padding-bottom: 1.5em;
    cursor: pointer;
    color: white;
    text-align: center;

}

#galeria h1 {
    padding-bottom: .8em !important;
    cursor: pointer;

}


.carouselInner {
    /* display: none; */
    width: 90%;

    margin: 0 auto;
}

.carouselInner .btn {
    display: flex;
    margin: auto;
}

.imgFit {
    width: 100%;
    height: 100%;
}


/*#endregion gallery */

/* #region agenda */
#agenda {
    background: url('../img/background1.png');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    text-align: center;
    padding-bottom: 8em;
    padding-top: 7em;
    margin: auto !important;
}

.titulo h1 {
    color: white;
}

.agendaC {
    width: 100%;
    padding-top: 1.5em;
    display: flex;
    margin: auto !important;

}

.agendaC h1 {
    font-size: 3.5em;
    font-weight: 900;
    color: white;
}


.agendaT {
    width: 50%;
}

.agendaT .aboutInner {
    width: 100%;
    align-items: left;
    color: white;

}

.agendaI,
.agendaT {
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.agendaT h1 {
    width: 100%;
    text-align: left;
    ;
    font-size: 3em;
    color: black;
    cursor: pointer;
}

.agendaT .title {
    padding-bottom: .5em;
    font-weight: 900;
}

.agendaT .history {
    font-size: 2em;
}

.agendaI {
    width: 100%;
    padding: 0 !important;
}

.agendaI img {
    width: 100%;
    max-width: 500px;
    cursor: pointer;
    margin: auto;
}

.cardTitulo {
    font-size: .8em;
}


/* #endregion */

/* #region contact */
#contato {
    background-color: #697F72;
    padding: 8em 0;
    color: black;
    text-align: center;
}

.contactC {
    width: 90%;
    margin: 0 auto;
}

.contactI {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em 0 2.5em 0;
}

.contactI li {
    padding: 20px;
}

.contactI span {
    font-size: 1.2em;
    text-align: left;
}

.contactI li input[type=text],
.contactI li input[type=email],
.contactI li input[type=password],
.contactI li textarea {
    background-color: rgba(255, 255, 255, .8);
    width: 50%;
    max-width: 500px;
    padding: 10px;
    font-size: 1.6em;
    border: none;
}

.contactI li input[type=text]:focus,
.contactI li input[type=email]:focus,
.contactI li input[type=password]:focus,
.contactI li textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid black;
    outline: none;
}

.contactI li a {
    text-decoration: underline;
}

.formBtn {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formBtn .btnDefault {
    padding: 1em 4em;
}

/* #endregion contact */

/*#region footer */
footer {
    /* background: url('../img/localization.png'); */
    width: 100%;
    height: auto;
    background-color: black;
    padding: 50px 0;
}

.footerC {
    width: 100%;
    /* max-width: 700px; */
    margin: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .6;
}

.redesC {
    font-size: 2em;
    padding: 1em 0;
}

.redesS ul li {
    font-size: 4em;
    display: inline !important;
    color: white;
    padding: 0 10px;
}

.redesS ul li:hover {
    color: #D1942B;
    transition: .3s;
    cursor: pointer;
}

.menuC {
    padding: 2em 0;
    border-top: 3px solid white;
}

.menuC ul li {
    /* background-color: red; */
    text-transform: capitalize;
    padding: 0 10px;
    font-size: 2em;
    display: inline !important;
}

.menuC ul li a {
    color: white;
}

.menuC ul li a:hover {
    color: #D1942B;
    transition: .3s;
}


/*#endregion footer */

/*#region html thanks */
.geral {
    background-color: #697F72;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 30em 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.geral h1 {
    width: 100%;
    color: #D1942B;
    margin: auto;
}

.geral h4 {
    padding-top: 1em;
    color: black;
    margin: auto;
}

/*#endregion thanks */